*{
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
/* ------------------------phần header menu --------------------------- */
.headerMenu{
    width: 100%;
    background-color: black;
    position: fixed;
    height: 88px;
    z-index: 1; /* cho menu không bị lỗi khi kéo chuột*/
    top: 0px;
}
.menu img {
    width: 11%;
    height: 70px;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}
.menu{
    width: 65%;
    height: 84px;
    padding-left: 0;
}
.menu li{
   display: flex;
   margin-left: 5px;
   line-height: 84px;
   border-radius: 10px;
} 

.menu ul{
    padding: 0;
    float: left;
}
.menu>ul>li{
    display: inline-block;
}
.menu a{
  text-decoration: none;
  font-size: 25px;
  top: 10px;
  padding: 0 15px;
  color: white;
  font-weight: bold;
}
.menu li:hover,
.menu li a:hover {
    color: red;
}

.headerMenu>form{   
    width: 35%;
    top: 20px;
    position: absolute;
    right: 0;
    font-size: 15px;
    margin-right: 15px;
}
form .dangNhap{
    right: 15px;
    position: absolute;
}
form .search{
    right: 130px;
    top: 9px;
    position: absolute;
}
.icon{
    text-align: center;
}
.icon i{
    padding: 7px;
}
form .inputSearch{
    right: 200px;
    position: absolute;
    padding: 5px;
}
.menuCon{
    display: none;
    margin-left: -15px;
    position: absolute;
    clear: both;
    background-color: black;
}
.menu li:hover .menuCon{
    display:block;
    clear: both;
}
footer {
    background-color: #333;
}
.ft_container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
footer{
    background-color: #333;
}
.footer {
    color: #fff;
}
.ft_container a{
    color: #fff;
}
.ft_container h2{
    color: tomato;
}
.lienhe{
    margin-left: 16px;
}
.members{
    margin-right: 16px;
}
.mgt{
    margin-top: 16px;
}

/* ------------------------------------ phần khung đăng nhập --------------------------------*/
.butdangNhap{
    width: 500px;
    border: 1px solid black;
    box-shadow: 0 0 20px rgb(65, 100, 225);
    background-color: white;
    margin: 80px auto;
}
.headerDN{
    width: 100%;    
    height: 60px;
    text-align: center;
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
}
.dangNhapCenter{
    width: 100%;
}
.butdangNhap .formDN{
    padding: 20px;
    text-align: center;
}
.butdangNhap input{
    margin-bottom: 20px;
    border-radius: 5px;
}
.butdangNhap>p{
    margin: -15px 0 15px 0;
    text-align: center;
}
.khungDN{
    text-align: center;
    margin-top: -20px;
}
.khungDN button {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    background-color: aqua;
    border: 1px solid aqua;
    width: 60%;
}
.khungDN button:hover {
    background-color: rgb(13, 147, 147);
    cursor: pointer;
}
.khungDN>p{
    margin: 15px;
}
.footerDN{
    text-align: center;
    padding: 15px;
    background-color: antiquewhite;
    color: antiquewhite;
}
.footerDN a{
    color: rgb(179, 116, 34);
}
.formDN>i{
    left: 15px;
}
button.close {
    padding: 10px;
    margin-right: 6px;
    background-color: red;
}

/*--------------------Phần content các sản phẩm ------------------------*/
.content{
    width: 70%;
    display: block;
    margin: 100px auto;
    height: 850px;
}
.content p {
    font-size: 18px;
    text-align: justify;
}
