<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<title>Chính sách bảo hành</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../CSS/stypeBaoHanh.css">
	<script type="text/javascript" src="../JS/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../JSpopper.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../JS/javaS.js"></script>
	<link rel="stylesheet" href="../themify-icons/themify-icons.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
		integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>

	<section style="height:75vh">
		<div class="contentHome" style="top:86px;position: relative;">
			<div class="noiDung">
				<div class="content">
					<h2 style="text-align: center;">CHÍNH SÁCH BẢO HÀNH</h2>
					<h3>I. Địa chỉ Trung tâm bảo hành:</h3>
					<p> 12 Nguyễn Văn Bảo-Phường 4-Quận Gò Vấp-TP.Hồ Chí Minh</p>
					<h3>II. Thời gian nhân và trả bảo hành:</h3>
					<p>Tại trung tâm bảo hành: Từ 8h30 đến 17h00 các ngày trong tuần (trừ chủ nhật và các ngày lễ, Tết).
						Tại điểm bán tất cả các ngày trong tuần kể cả ngày lễ và chủ nhật, từ 8h30 đến 21h</p>
					<h3>III. Chính sách bảo hành:</h3>
					<p>Linh kiện được bảo hành từ 1-2 năm kể từ ngày mua theo quy định của hãng sản xuất (tùy từng hãng
						sẽ có thời gian bảo hành khác nhau).
						Riêng khách hàng mua xe tại hệ thống điểm bán sẽ được hưởng thêm những quyền lợi sau: Thay kính
						xe miễn phí,...
						Điểm bán tiếp nhận bảo hành và sửa chữa đối với tất cả các sản phẩm được mua tại hệ thống xe
						máy.
						Những sản phẩm mang thương hiệu mà điểm bán là nhà phân phối độc quyền tại Việt Nam cũng sẽ tiếp
						nhận bảo hành và sửa chữa.
						Ngoài những trường hợp nêu trên, điểm bán sẽ tiếp nhận xe và các phụ kiện để bảo hành hoặc sửa
						chữa cho quý khách hàng.
					</p>
					<h3>IV. Điều kiện để xe máy và phụ kiện được bảo hành miễn phí và cách tính phí đối với xe máy và
						phụ kiện sửa chữa:</h3>
					<P>Nếu linh kiện mua tại điểm bán và còn trong thời gian bảo hành, khách hàng phải xuất trình được
						những giấy tờ liên quan đến sản phẩm như sổ bảo hành hoặc hóa đơn mua hàng…, khách hàng sẽ được
						bảo hành miễn phí theo như quy định của hãng sản xuất.
						Nếu xe máy và phụ kiện hết thời gian bảo hành hoặc Khách hàng không mang theo giấy tờ cần thiết
						liên quan đến sản phẩm thì Khách hàng sẽ mất phí sửa chữa.</P>
					<h3>V. Phạm vi bảo hành xe máy và phụ kiện:</h3>
					<p>ĐIểm bán chỉ bảo hành các lỗi kỹ thuật về máy (như cháy bugi, hư bình xăng,..), độ chịu nước và
						đèn pha.
						Nếu xe máy và phụ kiện gặp các vấn đề về lỗi kỹ thuật như áo xe, thiệt bị... bị bong tróc hoặc
						phai lớp mạ, các lỗi kỹ thuật khác bắt nguồn từ sản phẩm thì Điểm bán sẽ trực tiếp kiểm tra và
						đổi mới sản phẩm cho Khách hàng nếu nghiêm trọng.</p>

				</div>
			</div>
		</div>
	</section>

</body>

</html>