<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Linh kiện điện tử</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../CSS/stypeClassPhu.css">
    <script type="text/javascript" src="../JS/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../JSpopper.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../JS/javaS.js"></script>
    <link rel="stylesheet" href="../themify-icons/themify-icons.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
	
    <div class="content">
        <img class="sitemap" src="../img/siteMap.png" alt="Sitemap">
    </div>
    
</body>
</html>